apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-config
  namespace: shopmicro
data:
  config.alloy: |
    receivers:
      otlp:
        protocols:
          http:
            endpoint: 0.0.0.0:4318
      prometheus:
        config:
          scrape_configs:
            - job_name: 'alloy-scrape'
              static_configs:
                - targets: ['backend:3001','frontend:3000','ml-service:3002']
                # - targets: ['backend.shopmicro.svc.cluster.local:3001']
                #   labels:
                #     service: backend
                #     environment: shopmicro
    exporters:
      otlp/tempo:
        endpoint: "tempo:4318"
      prometheusremotewrite/mimir:
        endpoint: "http://mimir:9009/api/v1/push"
    service:
      pipelines:
        traces:
          receivers: [otlp]
          exporters: [otlp/tempo]
        metrics:
          receivers: [otlp, prometheus]
          exporters: [prometheusremotewrite/mimir]