# apiVersion: v1
# kind: ConfigMap
# metadata:
#   name: alloy-config
#   namespace: shopmicro
# data:
#   # alloy-config.yaml: |
#   config.alloy: |
#     receivers:
#       otlp:
#         protocols:
#           grpc:
#           http:
#     processors:
#       batch:
#     exporters:
#       logging:
#         loglevel: debug
#       prometheus:
#         endpoint: "0.0.0.0:8889"
#       otlp/tempo:
#         endpoint: "tempo:14250"
#         tls:
#           insecure: true
#     service:
#       pipelines:
#         traces:
#           receivers: [otlp]
#           processors: [batch]
#           exporters: [otlp/tempo, logging]
#         metrics:
#           receivers: [otlp]
#           processors: [batch]
#           exporters: [prometheus]


apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-config
  namespace: shopmicro
data:
  config.alloy: |
    receivers:
      otlp:
        protocols:
          grpc:
          http:
    processors:
      batch:
    exporters:
      debug:
        verbosity: detailed
      prometheus:
        endpoint: "0.0.0.0:8889"
      otlp/tempo:
        endpoint: "tempo:4317"
        tls:
          insecure: true
    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlp/tempo, debug]
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [prometheus]