# apiVersion: v1
# kind: ConfigMap
# metadata:
#   name: tempo-config
#   namespace: shopmicro
# data:
#   tempo.yaml: |-
#     # from infrastructure/tempo/tempo-official.yaml
#     receivers:
#       otlp:
#         protocols:
#           grpc: {}
#           http: {}

#     processors: {}

#     exporters:
#       logging:
#         logLevel: debug
#       loki:
#         endpoint: "http://loki:3100/loki/api/v1/push"

#     service:
#       pipelines:
#         traces:
#           receivers: [otlp]
#           processors: []
#           exporters: [logging]
#     ingesters:
#       lifecycle:
#         ring:
#           kvstore:
#             store: inmemory


apiVersion: v1
kind: ConfigMap
metadata:
  name: tempo-config
  namespace: shopmicro
data:
  tempo.yaml: |-
    # Minimal Tempo configuration
    server:
      http_listen_port: 3200
      grpc_listen_port: 9095

    distributor:
      receivers:
        otlp:
          protocols:
            grpc:
            http:

    storage:
      trace:
        backend: local
        wal:
          path: /data/tempo/wal
        local:
          path: /data/tempo/blocks

    ingester:
      max_block_duration: 5m
