apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki
  namespace: shopmicro
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
    spec:
      # initContainers:
      # - name: init-permissions
      #   image: busybox
      #   command: ["sh", "-c", "mkdir -p /var/loki && chown -R 0:0 /var/loki || true"]
      #   volumeMounts:
      #   - name: data
      #     mountPath: /var/loki
      containers:
      - name: loki
        image: grafana/loki:latest
        args:
        - -config.file=/etc/loki/loki.yaml
        ports:
        - containerPort: 3100
        volumeMounts:
        - name: config
          mountPath: /etc/loki
        - name: data
          mountPath: /tmp/loki
        # securityContext:
        #   runAsUser: 0
      volumes:
      - name: config
        configMap:
          name: loki-config
      - name: data
        emptyDir: {}
