apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: shopmicro
  labels:
    app: backend
    tier: application
spec:
  selector:
    app: backend
  ports:
  - port: 3001
    targetPort: 3001
    name: http
  type: ClusterIP
