apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: shopmicro
  labels:
    app: frontend
    tier: application
spec:
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80
    name: http
  type: ClusterIP