apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: shopmicro
  labels:
    app: grafana
spec:
  selector:
    app: grafana
  ports:
  - port: 3000
    targetPort: 3000
    name: grafana
  type: ClusterIP
