apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: shopmicro
  labels:
    app: loki
spec:
  selector:
    app: loki
  ports:
  - port: 3100
    targetPort: 3100
    name: loki
  type: ClusterIP
