apiVersion: v1
kind: Service
metadata:
  name: ml-service
  namespace: shopmicro
  labels:
    app: ml-service
    tier: application
spec:
  selector:
    app: ml-service
  ports:
  - port: 3002
    targetPort: 3002
    name: http
  type: ClusterIP
