apiVersion: v1
kind: Service
metadata:
  name: tempo
  namespace: shopmicro
  labels:
    app: tempo
spec:
  selector:
    app: tempo
  ports:
  - name: http
    port: 3200
    targetPort: 3200
    protocol: TCP
  - name: otlp
    port: 14250
    targetPort: 14250
    protocol: TCP
  # type: ClusterIP
